[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-jwt-extended = "*"
requests = "*"
flask-email = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.8"
