<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Saidino API {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
    <div class="container-fluid ">
        <h2 class='text-primary'> API DE CRUD COM\n SQLALCHEMY </h2>
        <h5 class='text-info'>Saidino Systems</h5>
        {% block content %}

        {%endblock%}
    </div>
    <script type='text/javascript' src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
    <script type='text/javascript' src="{{url_for('static',filename='js/jquery-3.6.0.min.js')}}"></script>
    <!-- <script type='text/javascript' src="{{url_for('static',filename='js/default.js')}}"></script> -->
</body>
</html>